.logo {
	float: left;
	padding-left: 0;
}

.logo a {
	background: url(../../images/sprite.svg) no-repeat 0 0;
	display: block;
	height: 34px;
	text-indent: -2000px;/*mando el texto del enlace de jaleo a tomar por... con el indent y lo sutituyo con el logo.svg gracias al background-image:*/
	width: 155px;
}

.logo a:hover {
	opacity: 1;
}