!!!
%html(lang = "es")
  %head
    %meta(charset = "utf-8")
    %title Jaleo App
    %meta(content = "Página ficha Los Vengadores" name = "description")
    %meta(content = "Máximo paquete" name = "Arístides")
    %link(href = "favicon.png" rel = "icon" type = "image/png")
    %link(href = "favicon.ico" rel = "shortcut icon")
  %body
    / inicio header
    %header
      %nav
        %ul
          %li
            %a(href = "#") Jaleo
          %li
            %a(href = "#") Películas
          %li
            %a(href = "#") Series
          %li
            %a(href = "#") Explora
          %li
            %a(href = "#") Iniciar sesión
    / image header
    %section
      %h1 Los Vengadores: La Era de Ultrón
      %ul
        %li
          %time 2015
        %li
          %abbr(title = "Mayores de")> +
          18
          %span
            %abbr(lang = "es" title = "High Definition") HD
        %li
          %a(href = "#") MÁS INFO
        %li
          %a(href = "#") VER AHORA 2,95€
    / inicio info detail
    %section
      %h2 Premios y nominaciones
      %ul
        %li
          %img(alt = "icono de la imagen de la estatuilla de los Globos de Oro" src = "images/globo-oro.png")
        %li
          2 nominaciones Globos de Oro
        %li
          %img(alt = "icono de la imagen de la estatuilla de los oscars" src = "images/oscar.png")
        %li
          1 nominación Óscar (guión)
    / inicio sinopsis
    %section
      %h2 Sinopsis
      %p
        El destino del planeta pende de un hilo cuando
        %strong Tony Stark
        intenta hacer funcionar un inactivo programa para mantener la paz. Las cosas le salen mal y los héroes más poderosos, incluyendo Iron Man (Robert Downey Jr.), Capitán América (Chris Evans), la Viuda Negra (
        %strong> Scarlett Johansson
        ), Thor (
        %strong> Chris Hemsworth
        ), el Increíble Hulk (
        %strong> Mark Ruffalo
        ) y Ojo de Halcón (
        %strong> Jeremy Renner
        ), se ven enfrentados a la prueba definitiva. Los Vengadores: la era de Ultrón es la segunda película de la saga protagonizada por los héroes más poderosos del mundo. El reparto cuenta con Robert Downey Jr. (Iron Man), Chris Evans (Capitán América), Scarlett Johansson (Viuda Negra), Chris Hemsworth (Thor), Mark Ruffalo (Hulk), Jeremy Renner (Ojo de Halcón), Samuel L. Jackson (Nick Fury), Cobie Smulders (Agente Maria Hill), James Spader (Ultrón), Elizabeth Olsen (Bruja escarlata), Aaron Taylor-Johnson (Pietro Maximoff) y Paul Bettany (Vision).
      %a(href = "#") Leer más
      %ul
        %li
          %a(href = "#") Tag1
          |
        %li
          %a(href = "#") Tag2
          |
        %li
          %a(href = "#")Tag3
          |
        %li
          %a(href = "#") Otro tag
    / inicio info
    %section
      %h2 Ficha técnica
      %dl
        %dt Director
        %dd Josh Whedon
        %dt Productora
        %dd Marvel
        %dt Género
        %dd Acción y aventura
        %dt Formato
        %dd
          %abbr(title = "alta definición") HD
          panorámico
        %dt Calificación
        %dd
          %abbr(title = "para mayores de") +
          18
        %dt Idiomas
        %dd Español
        %dd Inglés
        %dd
          Alemán
          %a{:href => "#"} Más
        %dt Idiomas
        %dd Francés
        %dd Eatalán
        %dd Inglés
        %dd Español
      %a(href = "#") Ver ficha en IMDB
    / inicio  table
    %section
      %h2 Recaudación
    / inicio cast
    %section
      %h2 Reparto y equipo
      %ul
        %li
          %a(href = "#")
            %img(alt = "retrato del director de la película. Persona rubia con barca peliroja. Rellenito y con entradas." src = "images/cast/joss-whedon.jpg")
              %p Joss Whedon
              %p ACTOR
        %li
          %a(href = "#")
            %img(alt = "retrato del actor. Hombre actractivo, morena, alto, ojos oscuros." src = "images/cast/robert-downey-jr.jpg")
              %p
                Robert Downey
                %abbr(title = "junior") Jr.
              %p ACTOR
        %li
          %a(href = "#")
            %img(alt = "retrato del actor. Hombre actractivo, rubio, con barba" src = "images/cast/chris-evans.jpg")
              %p Chris Evans
              %p ACTOR
        %li
          %a(href = "#")
            %img(alt = "retrato de la actríz. Mujer actractiva, joven, pelirroja, ojos claros y mil polvazos que tiene." src = "images/cast/scarlett-johansson.jpg")
              %p Scarlett Johanson
              %p ACTRÍZ
        %li
          %a(href = "#")
            %img(alt = "retrato del actor. Hombre atractivo. El típico rubio de ojos azules joven y muscluloso." src = "images/cast/chris-hemsworth.jpg")
              %p Chris Hemsworth
              %p ACTOR
        %li
          %a(href = "#") Ver más
    %article
      %h2 Críticas y reseñas
      %section
        %h3 Los críticos de cine
        %div
          %img(alt = "Letra E que representa el pictograma del periódico El País" src = "images/elpais.png")
            %blockquote “Es difícil imaginar una versión mejor, pero es ficción audiovisual a la medida de quien va a las salas a comprobar, no a descubrir”
            %span Jordi Costa
            %br/
            %span EL PAÍS
        %div
          %img(alt = "Letra E que representa el pictograma del periódico El País" src = "images/abc.png")
            %blockquote “Hay tanta acción, tanta exhibición de fuerza cinematográfica, que si alguien se aburre viéndola es que, evidentemente, se ha equivocado de ventana al mirarla”
            %span Oti Rodríguez Marchante
            %br/
            %span DIARIO ABC
      %section
        %h3 Nuestro usuarios
        %div
          %span
            %strong> 2,5
            \/5
          %ul
            %li
              1/5
            %li
              2/5
            %li
              3/5
            %li
              4/5
            %li
              5/5
          %span Promedio de 256 valoraciones de los usuarios de AirPlay
      %section
        %h3 Los medios online
        %div
          %ul
            %li
              1/5
            %li
              2/5
            %li
              3/5
            %li
              4/5
            %li
              5/5
          %a(href = "#") Rotten Tomatoes
        %div
          %ul
            %li
              1/5
            %li
              2/5
            %li
              3/5
            %li
              4/5
            %li
              5/5
          %a(href = "#") Sensacine
        %div
          %ul
            %li
              1/5
            %li
              2/5
            %li
              3/5
            %li
              4/5
            %li
              5/5
          %a(href = "#") IMBD
        %div
          %ul
            %li
              1/5
            %li
              2/5
            %li
              3/5
            %li
              4/5
            %li
              5/5
          %a(href = "#") Lorem ipsum
        %div
          %ul
            %li
              1/5
            %li
              2/5
            %li
              3/5
            %li
              4/5
            %li
              5/5
          %a(href = "#") Dolor sit amet
    / inicio more films
    %aside
      %h2 También te puede interesar
      %ul
        %li
          %a(href = "#")
            %img(alt = "más info sobre la  película Las Aventuras de Tin Tin" src = "images/posters/tintin.jpg")
              %h3 Las Aventuras de Tin Tin
              %time(datetime = "2011") 2011
          %ul
            %li
              Lorem ipsum dolor sit amet consectetur...
              %a(href = "#") Más
            %li
              %span 4 de 5 estrellas
            %li
              %a(href = "#")
                %strong 2,95€
      %ul
        %li
          %a(href = "#")
            %img(alt = "más info sobre la película Los juegos del hambre: sinsajo parte-1" src = "images/posters/sinsajo.jpg")
              %h3 Los juegos del hambre: sinsajo parte-1
              %time(datetime = "2014") 2014
          %ul
            %li
              Lorem ipsum dolor sit amet consectetur...
              %a(href = "#") Más
            %li
              %span 4 de 5 estrellas
            %li
              %a(href = "#")
                %strong 2,95€
      %ul
        %li
          %a(href = "#")
            %img(alt = "más info sobre la película Los Vengadores" src = "images/posters/vengadores.jpg")
              %h3 Los Vengadores
              %time(datetime = "2011") 2011
          %ul
            %li
              Lorem ipsum dolor sit amet consectetur...
              %a(href = "#") Más
            %li
              %span 4 de 5 estrellas
            %li
              %a(href = "#")
                %strong 2,95€
      %ul
        %li
          %a(href = "#")
            %img(alt = "más info sobre la película Parque Jurásico" src = "images/posters/parque-jurasico.jpg")
              %h3 Parque Jurásico
              %time(datetime = "1993") 1993
          %ul
            %li
              Lorem ipsum dolor sit amet consectetur...
              %a(href = "#") Más
            %li
              %span 4 de 5 estrellas
            %li
              %a(href = "#")
                %strong 2,95€
    / main footer
    %footer
      %div
        %h3 PÁGINA
        %ul
          %li
            %a(href = "#") Blog
          %li
            %a(href = "#") Prensa
          %li
            %a(href = "#") Condiciones de uso
          %li
            %a(href = "#") Privacidad
          %li
            %a(href = "#") Soporte
      %div
        %h3 CORPORATIVO
        %ul
          %li
            %a(href = "#") Nosotros
          %li
            %a(href = "#") Contacto
          %li
            %a(href = "#") English site
          %li
            %a(href = "#") Deutsch Website
          %li
            %a(href = "#") Site français
      %div
        %h3 SÍGUENOS
        %ul
          %li
            %a(href = "#")
              %i
              Facebook
          %li
            %a(href = "#")
              %i
              Twitter
          %li
            %a(href = "#")
              %i
              Pinterest
      %div
        %img(alt = "JALEO" src = "#")/
        %address
          \&copy; Jaleo de España S.A.
          %br/
          Calle del Rey, 23
          %br/
          28080 MADRID
        %p
          0034 555 55 65 85
          %br/
          %a(href = "mailto:info@jaleoapp.es") info@jaleoapp.es