!!!
%html(lang = "es")
  %head
    %meta(charset = "utf-8")
    %title Jaleo App
    %meta(content = "Página ficha Los Vengadores" name = "description")
    %meta(content = "Máximo paquete" name = "Arístides")
    %link(href = "favicon.png" rel = "icon" type = "image/png")
    %link(href = "favicon.ico" rel = "shortcut icon")
  %body
    / inicio header
    %header
      %nav
        %ul
          %li
            %a(href = "#") Jaleo
          %li
            %a(href = "#") Películas
          %li
            %a(href = "#") Series
          %li
            %a(href = "#") Explora
          %li
            %a(href = "#") Iniciar sesión
	
%section
	%h1 Regístrate para empezar a ver
	Los Vengadores: La Era de Ultrón
	%p Una vez comiences a ver la película, dispones de 72h. para verla cuantas veces, y
	tantos los dispositivos como quieras.
	¿Ya estás registrado?
	%a(href = "#")
	%strong Inicia tu sesión ahora.
		%form
			%fieldset
				%legend Datos personales
				%label(for = "name") Nombre completo
				%input#name(type = "name")/
				%label(for = "email") Correo electrónico
				%input#email(type = "email")/
				%label(for = "password") Contraseña
				%input#password(type = "password")/
		%section
			%form
				%fieldset
					%legend Datos de pago
					%h2
						2,95
						%abbr(title = "euros") €
					%input#paypal(type = "checkbox")/
					%label(for = "paypal") PayPal
					%input#creditcard(type = "checkbox")/
					%label(for = "creditcard") Tarjeta de crédito
					%div
						%label(for = "creditcardnunmer") Número de tarjeta
						%input#creditcardnunmer(type = "creditcardnunmer")/
						%br
							%br
								%label(for = "caducity") Caducidad
								%select#caducity
									%option(value = "0") Mes
									%option(value = "1") Enero
									%option(value = "2") Febrero
									%option(value = "3") Marzo
									%option(value = "4") Abril
									%option(value = "5") Mayo
									%option(value = "6") Junio
									%option(value = "7") Julio
									%option(value = "8") Agosto
									%option(value = "9") Septiembre
									%option(value = "10") Octubre
									%option(value = "11") Noviembre
									%option(value = "12") Diciembre
								%select#year
									%option(value = "0") Año
									%option 2016
									%option 2017
									%option 2018
									%option 2019
									%option 2020
									%option 2021
									%option 2022
									%option 2023
									%option 2024
									%option 2025
									%option 2026
									%option 2027
					%div
						%input#newsletter(type = "checkbox")/
						%label(for = "newsletter") Recibir correos electrónicos ocasionales con noticias y novedades de Jaleo.
					%input(type = "submit" value = "Submit")
			%p
				Al registrarte estás de acuerdo con nuestros
				%a(href = "#")
					%strong términos de uso
				y
				= succeed "." do
					%a(href = "#")
						%strong política de privacidad
				¿Necesitas ayuda?
				= succeed "." do
					%a(href = "#")
						%strong Contacta con nosotros
			/ main footer
			%footer
				%div
					%h3 PÁGINA
					%ul
						%li
							%a(href = "#") Blog
						%li
							%a(href = "#") Prensa
						%li
							%a(href = "#") Condiciones de uso
						%li
							%a(href = "#") Privacidad
						%li
							%a(href = "#") Soporte
				%div
					%h3 CORPORATIVO
					%ul
						%li
							%a(href = "#") Nosotros
						%li
							%a(href = "#") Contacto
						%li
							%a(href = "#") English site
						%li
							%a(href = "#") Deutsch Website
						%li
							%a(href = "#") Site français
				%div
					%h3 SÍGUENOS
					%ul
						%li
							%a(href = "#")
								%i
								Facebook
						%li
							%a(href = "#")
								%i
								Twitter
						%li
							%a(href = "#")
								%i
								Pinterest
				%div
					%img(alt = "JALEO" src = "#")/
					%address
						\&copy; Jaleo de España S.A.
						%br/
						Calle del Rey, 23
						%br/
						28080 MADRID
					%p
						0034 555 55 65 85
						%br/
						%a(href = "mailto:info@jaleoapp.es") info@jaleoapp.es