.hero {
	background-image: url(../images/vengadores-l-01.jpg);
	background-size: cover;
	height: 480px;
	padding-top: 20px;
	position: relative;
	width: 100%;
}

.hero .buttons a {
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 20px;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	line-height: 24px;
	padding: 12px 10px; /* Se suma el 24 del line-height y los 12 de arriba y abajo de padding para que el botón tenga 48 de alto */
	text-decoration: none;
}

.hero .buttons a.prev {
	float: left;
}

.hero .buttons a.prev:before {
	background-image: url(../images/sprite.svg);
	background-position: 0 -128px;
	content: 'Anterior'; /* Si no pones content, el before y el after no se ven */
	display: inline-block; /* Inline porque no quiero que se coja el 100%, y block porque quiero definir un alto y un ancho */
	height: 24px;
	margin-right: 15px;
	text-indent: -9999px;
	width: 24px;
}

.hero .buttons a.next {
	float: right;
}

.hero .buttons a.next:after {
	background-image: url(../images/sprite.svg);
	background-position: -48px -128px;
	content: 'Siguiente';
	display: inline-block;
	height: 24px;
	margin-left: 15px;
	text-indent: -9999px;
	width: 24px;
}

.hero .info {
	background-color: rgba(0, 0, 0, 0.8);
	bottom: 0;
	left: 0;
	padding: 17px 0;
	position: absolute;
	right: 0;
}

.hero h1 {
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-size: 36px;
	font-weight: bold;
	line-height: 48px;
	margin: 0;
}

.hero ul {
	margin: 14px 0 0;
	padding: 0;
}

.hero li {
	color: #fff;
	font-size: 14px;
	list-style: none;
}

.hero li time {
	font-size: 16px;
	font-weight: bold;
}

.hero li:nth-child(2) span {
	border: solid 1px #fff;
	border-radius: 3px;
	padding-left: 4px;
}

.hero abbr {
	border: none;
}

.hero li:nth-child(3) span {
	background-image: url(../images/sprite.svg);
	background-position: -40px -229px;
	display: block;
	margin: 0;
	text-indent: -9999px;
	width: 100px;
}

.hero .more {
	border: solid 2px #fff;
	color: #fff;
	display: block;
	font-size: 18px;
	line-height: 66px; /* El alto del texto */
	margin-top: 12px;
	/*padding: 20px 0; /* 20 de padding arriba y abajo para que sumados a los 30 del line-height haga los 70 que tiene que tener de alto */
	text-align: center;
	text-decoration: none;
	width: 100%;
}

.hero .view {
	background-color: #d4145a;
	color: #fff;
	display: block;
	font-size: 12px;
	line-height: 1; /* Multiplicas por el font-size y te da el line-height */
	margin-top: 12px;
	padding: 17px 0;
	text-align: center;
	text-decoration: none;
	width: 100%;
}

.hero .view span {
	font-size: 24px;
	font-weight: bold;
}